
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/expertSystemFinal.iml
.idea/encodings.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
backend/src/main/resources/application.properties
