<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.expertise.demo.dao.mapper.ProgramMapper">
    <resultMap id="program" type="com.expertise.demo.entity.Program">
        <id column="ID" property="id"/>
        <result column="AREA" property="area"/>
        <result column="SECRET" property="secret"/>
        <result column="SECRET_LEVEL" property="secretLevel"/>
        <result column="COMPANY" property="company"/>
        <result column="END_TIME" property="endTime" jdbcType="DATETIMEOFFSET"/>
        <result column="KEYWORD" property="keyword"/>
        <result column="START_TIME" property="startTime" jdbcType="DATETIMEOFFSET"/>
        <result column="NUMBER_ACC" property="numberAcc"/>
        <result column="NUMBER_MNG" property="numberMng"/>
        <result column="NUMBER_TECH" property="numberTech"/>
        <result column="STATE" property="state"/>
    </resultMap>

    <insert id="insert">
        insert into PROGRAM(ID, AREA, SECRET, SECRET_LEVEL, KEYWORD, START_TIME, END_TIME, COMPANY, NUMBER_ACC, NUMBER_MNG, NUMBER_TECH, STATE)
            VALUES (#{id}, #{area}, #{secret}, #{secretLevel}, #{keyword}, #{startTime}, #{endTime}, #{company}, #{numberAcc}, #{numberMng}, #{numberTech}, #{state})
    </insert>

    <update id="changeState">
        update PROGRAM
        set STATE=1
        where ID=#{id}
    </update>

    <select id="findAll" resultMap="program">
        select * from PROGRAM
    </select>

    <select id="findById" resultMap="program">
        select * from PROGRAM where ID = #{id}
    </select>

    <select id="findByPageable" resultMap="program">
        select * from PROGRAM
        ORDER BY END_TIME DESC
        LIMIT 20 OFFSET #{offset}
    </select>

    <select id="size" resultType="int">
        select COUNT(*) from PROGRAM
    </select>
</mapper>